@media screen and (max-width: 600px) {
    
    /* table thead {
      clip: rect(0 0 0 0);
      position: absolute!important;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    */
  }